body {
  align-items: center;
  background-image: url(../../img/background-1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem 1rem;
}

.form-logo {
  width: 13rem;
}

.form {
  background-color: #fff;
  border-radius: 0.875rem;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.25);
  color: #515151;
  font-size: 0.875rem;
  max-width: 25rem;
  padding: 2rem 1.75rem;
  padding-bottom: 1.5rem !important;
  width: 100%;
}

.form .form-title {
  color: #0c0f5f;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
  text-align: center;
  text-transform: uppercase;
}

.form .form-control {
  background-color: #f6f6f6;
  border: 0.125rem solid #f1f5ff;
  border-radius: 0.5rem;
  box-shadow: none !important;
  color: inherit;
  font-size: inherit;
  padding: 1.125rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form .form-control:focus {
  background-color: #f1f5ff;
  border-color: #166bb1;
}

.form .form-check-input {
  border-color: #25a6b7;
  border-radius: 0.1875rem;
}

.form .form-check-input:checked {
  background-color: #25a6b7;
  border-color: #25a6b7;
}

.form .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(37, 166, 183, 0.438);
}

.form .btn {
  background-color: #0c0f5f;
  border-radius: 80rem;
  box-shadow: none !important;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form .btn:hover,
.form .btn:focus {
  background-color: #25a6b7;
}

.form a,
.form-footer a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.form a:hover,
.form-footer a:hover {
  opacity: 0.7;
}

.form a strong {
  color: #25a6b7;
}

.form-footer {
  font-size: 0.875rem;
  color: #fff;
}

@media (min-width: 576px) {
  .form-logo {
    width: 16rem;
  }

  .form {
    padding: 2.875rem 2.375rem;
  }
}
