.app-card.app-card--control {
  background-color: #6da9d3;
  border-bottom: none !important;
  border-radius: 1.5rem !important;
  display: flex;
  font-size: 0.875rem;
  overflow: hidden;
  padding: 0px;
  text-align: center;
}

.app-card.app-card--control .app-card-arrow {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0.25rem;
}

.app-card.app-card--control .app-card-arrow svg {
  height: 2rem;
  width: 2rem;
}

.app-card.app-card--control .app-card-content {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.app-card.app-card--control .app-card-title {
  color: #282828;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.app-card.app-card--control .app-card-dai {
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 0px;
}

.app-card.app-card--control .app-card-dai::before {
  background-image: url(../../../img/icons/dai-symbol.png);
  background-size: cover;
  content: "";
  display: inline-block;
  margin-right: 0.25rem;
  height: 0.75em;
  width: 0.75em;
}

.app-card.app-card--header .app-card-title {
  font-size: 1rem;
}

.app-card.app-card--header img {
  height: 2rem;
  margin-right: 0.5rem;
  object-fit: contain;
  object-position: center;
  width: 2rem;
}

.app-card.app-card--form {
  background-color: #fff;
  border-bottom: none;
  display: flex;
  padding: 0px;
}

.app-card.app-card--form .btn {
  background-color: #6da9d3;
  border-radius: 0.75rem;
  width: 6rem;
}

.app-card.app-card--form .form-control {
  background-color: #fff !important;
  border: none !important;
}

.app-card.app-card--graph {
  position: relative;
}

.app-card.app-card--graph .btn {
  background-color: #6da9d3;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
}
