.app-main .form-control {
  margin-bottom: 0.625rem;
}

.faq .app-card.accordion-item {
  background-color: #6da9d3;
  border-bottom-color: #6da9d3;
  border-bottom-width: 0.25rem !important;
  margin-bottom: 0.375rem;
}

.faq .app-card.accordion-item .accordion-button {
  color: #003359;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.75rem;
}

.faq .app-card.accordion-item .accordion-button::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z' fill='rgba(0,51,89,1)'/%3E%3C/svg%3E");
  background-size: cover;
  content: "";
  height: 1.25rem;
  margin-right: 0.5rem;
  min-width: 1.25rem;
  width: 1.25rem;
}

.faq .app-card.accordion-item .accordion-button:not(.collapsed)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-5-9h10v2H7v-2z' fill='rgba(0,51,89,1)'/%3E%3C/svg%3E");
}

.faq .app-card.accordion-item .accordion-body {
  color: #fff;
  font-weight: 400;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
}

.app-card.accordion-item .badge {
  background-color: #21456c;
}

.app-card.accordion-item .badge svg {
  height: 0.875rem;
  width: 0.875rem;
}
